/*FreeBSD CSS*/

* {
	font-family: verdana, sans-serif;;
	padding: 0;
	margin: 0;
}


html {
	width: 1100px;
	margin: 0 auto;
}

a:hover	{
	color: black;
	text-decoration: none;
}

.red {
	color: #800;
	font-weight: bolder;
}

a {
	color: #800;
}

a:visited {
	color: #800;
}

#header	{
	/*width: 1100px;*/
	background-color: #8D1919;
	margin-top: -6px;
	
}

	#logo	{
		display: inline-block;
		height: 80px;
	}

	#top-nav	{
		display: inline-block;
		vertical-align: top;
		margin-left: 310px;
		margin-top: 9px;
	}

		#top-nav-content {
			color: white;
			font-size: x-small;
		}

			#top-nav-content a {
				color: #ffcc66;
				font-size: x-small;
			}

		#searchbar {
			margin-left: 26px;
			margin-top: 2px;
		}


			button {
			  color: #fff;
			  border: 1px solid #fff;
			  background-color: #800;
			  border-radius: 2px;
			  padding: 1px 5px;
			}

#nav{
	background-color: #D4E2E2;
	height: 30px;
	border-bottom: 1px solid grey;
	margin-top: -5px;
}

	.navlinks{
		padding-top: 5px;
	}

	.navlinks li{
		list-style-type: none;
		display: inline;
		border-right: 1px solid grey;
		padding: 0 15px;
			}

			.navlinks li:last-child {
				border-style: none;
			}


	.navlinks a{
		color: grey;
		text-decoration: none;
		font-weight: bold;
		font-size: 10px;	
	}

		.navlinks a:hover {
			color: black;
		}


#sidebar {
	background-color: #d0d0d0;
	border:1px solid grey;
	display: inline-block;
	margin: 30px 0 0 20px;
	width: 110px;
	height: 200px;
	padding: 5px;


}

	#sidebar ul {
		padding-left: 15px;
		padding-top: 7px;
	}


	#sidebar ul li {
		padding-left: 5px;
		padding-bottom: 7px;
		font-size: .5em;	
	}

#main-content {
	display: inline-block;
	width: 650px;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 30px;
	/*background-color: powderblue;*/
	font-size: .7em;
}

	#intro h2	{
		/*background-color: brown;*/
		margin-bottom: 15px;
	}

	 .pop {
		margin-bottom: 10px;
		margin-top: 15px;
	}







